@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Valores desde appsettings.json</h3>

Mensaje: @ViewBag.mensaje <br>
Configuraciones Super: <br />
<ul>
    <li>@ViewBag.super1</li>
    <li>@ViewBag.super2</li>
    <li>@ViewBag.super3</li>
</ul>

Log level: @ViewBag.level