<h3>Datos del producto registrado</h3> 
<h5>Manejo de archivos</h5>

<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Imagen</th>
    </tr>
    <tr>
        <td>@ViewBag.prod.Id</td>
        <td>@ViewBag.prod.Nombre</td>
        <td>@ViewBag.prod.Precio</td>
        <td>@ViewBag.prod.Cantidad</td>
        <td><img src="~/imagenes/@ViewBag.prod.Foto" alt="@ViewBag.prod.Foto" style="max-width: 100px; max-height: 100px;" /></td>
    </tr>
    @foreach (var imagen in ViewBag.fotos)
    {
        <tr>
            <td colspan="5">
                <img src="~/imagenes/@imagen.FileName" alt="@imagen.FileName" style="max-width: 100px; max-height: 100px;" />
            </td>
        </tr>
    })
</table>