<table class="table">
    <tr>
        <td>USUARIO:</td>
        <td>@ViewBag.usuario.nombre</td>
    </tr>
    <tr>
        <td>PASSWORD:</td>
        <td>@ViewBag.usuario.password</td>
    </tr>
    <tr>
        <td>EDAD:</td>
        <td>@ViewBag.usuario.edad</td>
    </tr>
    <tr>
        <td>EMAIL:</td>
        <td>@ViewBag.usuario.email</td>
    </tr>
    <tr>
        <td>PÁGINA:</td>
        <td>@ViewBag.usuario.pagina</td>
    </tr>
</table>